LEADS_CRM_WEBHOOK_TOKEN=change-me
LEADS_CRM_DB_DRIVER=mysql
LEADS_CRM_DB_HOST=localhost
LEADS_CRM_DB_NAME=leads_crm
LEADS_CRM_DB_USER=root
LEADS_CRM_DB_PASS=
LEADS_CRM_DB_CHARSET=utf8mb4
LEADS_CRM_SQLITE_PATH=C:\tmp\leads-crm.sqlite
